<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- https://www.botreetechnologies.com/blog/introducing-jquery-in-rails-6-using-webpacker -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo", class: "navbar-brand" %>
        <nav>
          <ul class="nav navbar-right">
            <li><%= link_to "Home",   '#', class: "nav-link" %></li>
            <li><%= link_to "Help",   '#', class: "nav-link" %></li>
            <li><%= link_to "Log in", '#', class: "nav-link" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
